/**
 * User: utku
 * Date: 20.09.2018
 * Time: 14:09
 * Web : http://www.utkukutlu.com
 */

.bs-clear {
    content: "";
    overflow: auto;
    clear: both;
}

.bs-clear:after {
    content: "";
    clear: both;
    display: table;
}

.bs-table-container tbody tr.selected {
    background: #E0E0E0 !important;
}

.bs-table-container tbody tr:nth-child(2n) {
    background: #EFEFEF;
}

.bs-table-container .bs-table-pagination-a-active {
    background: #6EB7F0 !important;
    color: #fff !important;
}

.bs-table-container {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bs-table-searchbox {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    float: right;
    margin-bottom: 10px;
}

.bs-table-length-select {
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: -50px;*/
    float: left;
    margin-top: 10px;
    min-width: 60px;
    padding: 2px;
}

.bs-table-pagination {
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: -80px;*/
    float: right;
    margin-top: 10px;
}

.bs-table-pagination-li {
    display: inline-block;
    float: left;
    border: 1px solid #ddd
}

.bs-table-pagination-a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.bs-table-container table {
    /*clear: both;*/
}

.bs-table-container thead tr th {
    position: relative;
    cursor: pointer;
    padding: 5px 20px;
}

.bs-table-container tbody tr td {
    cursor: pointer;
    padding: 5px 20px;
}

.bs-table-buttons {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: -80px;*/
    float: left;
    margin-bottom: 10px;
}

.bs-table-button {
    float: left;
    margin-right: 5px;
}

.bs-table-sor-type {
    position: absolute;
    right: 10px;
    top: 5px;
}

.bs-alert-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.bs-alert-body {
    display: block;
    width: 50vw;
    max-width: 800px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 5px 2px #d9d9d9;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 25vh auto 0 auto;
    position: relative;
    /*transition: all .5s;*/
    animation-name: zoomIn;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

.bs-alert-icon-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #98D973;
    line-height: 200px;
    text-align: center;
    margin: 0 auto;
    animation-name: icon-wave;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.bs-alert-icon-content {
    color: #000;
    font-size: 5em;
}

.bs-alert-title-container {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes icon-wave {
    0% {
        /*box-shadow: 0 0 10px 5px #7cfc00;*/
        border-color: #98D973;
    }
    50% {
        /*box-shadow: 0 0 15px 5px #7cfc00;*/
        border-color: #7ccd00;
    }
    100% {
        /*box-shadow: 0 0 10px 5px #7cfc00;*/
        border-color: #98D973;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.bs-alert-buttons-container {
    margin-top: 50px;
}

.bs-alert-button {
    border: 0 none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    min-width: 70px;
}

.bs-notification {
    cursor: pointer;
    background: #5cb85c;
    color: #fff;
    padding: 10px 20px;
    display: none;
    transition: top 0.5s;
    position: absolute;
    right: 10px;
    border-radius: 2px;
    min-width: 100px;
}

.bs-notification-success {
    background: #5cb85c !important;
}

.bs-notification-info {
    background: #5bc0de !important;
}

.bs-notification-warning {
    background: #f0ad4e !important;
}

.bs-notification-danger {
    background: #d9534f !important;
}